Witam w formularzu :)


<div>
	<form action="success.html">
		<label>Imię</label> <input type="text" required="required" ng-model="user.name" id="name"> <br>
		<label>Nazwisko</label> <input type="text" required="required" ng-model="user.lastName" id="lastname"><br>
		<label>E-mail</label> <input type="text" required="required" ng-model="user.email" id="email"><br>
		<label>Data urodzenia:</label> <input type="date" required="required" id="data"><br>
		<label>Klasa w szkole:</label> <select name="clases"
			required="required" ng-model="user.option" id="option">
			<option>3 klasa podstawówki</option>
			<option>4 klasa podstawówki</option>
			<option>5 klasa podstawówki</option>
			<option>6 klasa podstawówki</option>
			<option>7 klasa podstawówki</option>
			<option>8 klasa podstawówki</option>
			<option>1 klasa gimnazjum</option>
			<option>2 klasa gimnazjum</option>
			<option>3 klasa gimnazjum</option>
			<option>1 klasa liceum</option>
			<option>2 klasa liceum</option>
			<option>3 klasa liceum</option>
		</select> <br> <label>Nazwa loginu</label> <input type="text"
			required="required" ng-model="user.login"> <br> <label>Hasło</label> <input
			type="text" required="required" id="pass1"> <br> <label>Powtórz
			Hasło</label> <input type="text" required="required" ng-model="user.password" id="pass2">
			 <br> <input
			type="submit" value="Zarejestruj" ng-click="register()">
	</form>
</div>

